* {
    box-sizing: border-box;
    text-align: center;
    font-family: Days-fontfacekit;
    color: ghostwhite;

}

@font-face {
    font-family: Days-fontfacekit;
    src: url('Days-webfont.eot');
    src: url('Days-webfont.eot') format('eot'), url('Days-webfont.woff') format('woff'), url('Days-webfont.ttf') format('truetype'), url('Days-webfont.svg') format('svg');
}

p {
    font-size: 2em;
}

body {
	margin:0;
	background: url("blueskies.jpg") center center no-repeat fixed;
    
}

#nav-container {
	position: relative;
    height: 130px;
    background: rgba(0, 0, 110, .8) 100% 100% no-repeat fixed;
    vertical-align: top;
}

h2 {
    margin: 0 auto;
    width: 50%;
    vertical-align: top;
}

#weatherContainer {
    font-size: 2em;
}


#title {
    font-family: Days-fontfacekit;
    font: 40px bolder;
    text-align: center;
    color: ghostwhite;
}

#logoImg {
    width: 70px;
    height: 70px;
}

.buttonContainer {
    border: 2px lightgoldenrodyellow solid;
}

.temperature {
    font-size:3em;
}

.iconContainer {
    display: inline-block;
    margin: 50px 20px;
}

.detailContainer {
    display: inline-block;
    vertical-align: top;
    margin: 50px auto;
}

button {
	height: 40px;
	font-size: 1.5em;
	border-radius: 25px;
	width: 30%;
	margin: 30px auto;
	color: ghostwhite;
	background: rgba(100,100,150, .5);
}

input {
	/* height: 100px; */
	margin-top: 5vh;
	padding: 5px;
	width: 98%;
	text-decoration: none;
	font-size: 3em;
	background: rgba(0 ,0 ,0, 0);
	border: none;
}

canvas {
    vertical-align: top;
}

#locationSeach {
	color:ghostwhite;
}

#locationSearch:focus {
	border: none;
}

.day {
    display: inline-block;
    padding: 20px;
    width: 20%;
}

.hour {
    border-bottom: 2px solid slategray;
    display: block;
    /* padding: 20px; */
    width: 60%;
    margin: 0 auto;
    font-size: .75em;
    vertical-align: top;
}

.hourTime {
	float: left;
	
}

.hourTemp {
	float: right;
    margin-left: 15%;
}

.hourSkycon {
    /* float: center; */
}

#tempContainer {
	width:80%;
	padding: 5vh 0 5vh 0;
	margin: 5vh auto;
	/* background-color: rgba(255,255,255, .4); */
	border-radius: 25px;
}

/* media queries */
@media (min-width: 1250px) {
  body {
    /* background: url("blueskies.jpg"); */
    /* background-size: 100% 100%; */
  }
