* {
    box-sizing: border-box;
    text-align: center;
    font-family: Days-fontfacekit;
    color: ghostwhite;

}

@font-face {
    font-family: Days-fontfacekit;
    src: url('Days-webfont.eot');
    src: url('Days-webfont.eot') format('eot'), url('Days-webfont.woff') format('woff'), url('Days-webfont.ttf') format('truetype'), url('Days-webfont.svg') format('svg');
}

p {
    font-size: 2em;
}

body {
    margin:0;
    background: url("blueskies.jpg") center center no-repeat fixed;
    background-size: cover;
}

#nav-container {
    position: relative;
    background: rgba(0, 0, 110, .8) 100% 100% no-repeat fixed;
    vertical-align: top;
    border-radius: 0 0 25px 25px;
    box-shadow: 5px 5px 5px 5px rgba(255,255,255,.2);
}

h2 {
    margin: 0 auto;
    width: 50%;
    vertical-align: top;
}

.fa {
    font-size: 2em;
    color: ghostwhite;
    text-shadow: 2px 5px 3px rgba(10,10,10,.5);
}

#weatherContainer {
    font-size: 2em;
}

#title {
    font-family: Days-fontfacekit;
    font: 40px bolder;
    text-align: center;
    color: ghostwhite;
}

#logoImg {
    width: 70px;
    height: 70px;
}


.temperature {
    font-size:3em;
}

.iconContainer {
    display: inline-block;
    margin: 50px 20px;
}

.detailContainer {
    display: inline-block;
    vertical-align: top;
    margin: 50px auto;
}

button {
	font-size: 1.5em;
	border-radius: 25px;
	width: 18%;
    margin: 0 2%;
	color: ghostwhite;
	background: rgba(100,100,150, .5);
    text-shadow: 2px 5px 3px rgba(10,10,10,.5);

}


canvas {
    vertical-align: top;
}

#locationSeach {
    color:ghostwhite;
}

#locationSearch:focus {
    border: none;
}

.day {
    display: inline-block;
    padding: 20px;
    width: 20%;
}

.hour {
    border-bottom: 2px solid rgba(255,255,255, .5);
    display: block;
    width: 60%;
    margin: 0 auto;
    font-size: .75em;
    vertical-align: top;
}

.hourTime {
	float: left;
}

.hourTemp {
    float: right;
    margin-left: 15%;
}


#tempContainer {
	width:80%;
	padding: 5vh 0 5vh 0;
	margin: 5vh auto;
	border-radius: 25px;
}

